.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
.container{
    max-width: 955px;
    font-size:x-large;
    margin: auto;
    height: 70vh;
    overflow-y: auto;
    margin-bottom: 23px;
}
.message{
    background-color: #000000;
    width: 39%;
    padding: 3px;
    border: 3px solid red;
    margin: 11px;
    border-radius: 25px;
    
  }
.right{
    float: right;
    clear: both;
}
.left{
    float: left;
    clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 945px;
    width: 80%;
}
#textInput{
    width: 93%;
  border: 5px solid #16cb86;
  border-radius: 20px;
}
.sendbtn{
    border: 3px solid black;
    cursor: pointer;
  border-radius: 9px;
}
body{
    background-image: linear-gradient(rgb(14, 100, 6),rgb(5, 146, 113),rgb(2, 30, 46));
    color: rgb(39, 232, 183);
    height: 100vh;
}